
body {
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    text-align:left
  }
  
  header {
    padding: 70px 0px 8px 0px;
  }
  
  h1 {

    text-align: left;
  }
  